.header {
  background-color: var(--main-color-site);
  border-bottom: 1px solid var(--hover-color-text);
  min-height: 80px;
  position: fixed;
  width: 100%;
}

.wrapper {
  justify-content: space-between;
  padding-bottom: 15px;
  align-items: center;
  padding-top: 15px;
  display: flex;
}

.buttonsWrapper {
  display: flex;
  gap: 30px;
}
